<h1 class="page-title"> <%= @vendor_category %> </h1>
<h1 class="page-title"> <%= @vendor_sub_category %> </h1>

<%= render 'vendors/display_vendors', :@vendor => @vendor, :@vendor_photo => @vendor_photo %>