<h1 class="page-title"> <%=@vendor_category.category%> </h1>

<div class="bg-green">
  <%= render 'vendor_sub_categories/display_all_vendor_sub_categories', :category_id => @vendor_category.id %>
</div>

<%= render 'vendors/display_vendors', :@vendor => @vendor %>