<h3> Hi <%=@user_name%></h3>
<p class="mail-details"> Thank you adding your business with <%=@vendor.name%> planeventz.<br/>
  Please <a href="<%= 'http://planeventz.cloudapp.net' + vendor_path(@vendor)%>">click here</a> to view the details added by you</p>