<div align="right" style="margin-left: 35%;">
  <%= render 'home/widgets/menu' %>
</div>

<h1 class="page-title"> Add Your Business </h1>

<p class="details-show" align="center" style="color:green">
  Thank you for submitting details. You will receive a confirmation mail and One of our consultants will contact you soon...
</p>
