<h1 class="page-title"> Register Yourself </h1>

<%= render 'home/under_construction' %>

<p class="details-show" >
  For the time being please mail your details to :
</p>
<p class="contact-mail">
  shilpi@izumionline.in
</p>
