<div align="right" style="margin-left: 35%;">
  <%= render 'home/widgets/menu' %>
</div>

<h1 class="page-title"> Add Your Business </h1>

<%= render 'home/under_construction' %>

<p class="details-show" >
  For the time being please mail your details to :
</p>
<p class="contact-mail">
  shilpi@izumionline.in
</p>
