<div align="right" style="margin-left: 40%;">
  <%= render 'home/widgets/menu' %>
</div>

<h1 class="page-title"> Contact Us </h1>

<%= render 'home/under_construction' %>

<p class="details-show">
  Feedback is Welcome...
</p>

<p class="details-show" >
  Please send your valuable feedback to :
</p>
<p class="contact-mail">
  shilpi@izumionline.in
</p>
