<body>
<div class="header small-padding bg-dark bg-image">

  <div class="header-cover">

  <div class="header-inner">


    <h1 class="header-title">
      <a title="planeventz">PlanEventz</a>
    </h1>

  </div>

  </div> <!-- /header-inner -->

</div> <!-- /header -->