<div class="header bg-dark bg-image">

  <div class="header-cover">

  <div class="header-inner">


    <h1 class="header-title">
      <a title="planeventz" href="/">PlanEventz</a>
    </h1>

  </div>

  </div> <!-- /header-inner -->

</div> <!-- /header -->

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<div align="right" style="padding: 0.5%; margin-right: 2%;" id="fb-login">
  <fb:login-button autologoutlink="true"></fb:login-button>
</div>
