<div class="header bg-dark bg-image">

  <div class="header-cover">

  <div class="header-inner">


    <h1 class="header-title">
      <a title="planeventz" href="/">PlanEventz</a>
    </h1>

  </div>

  </div> <!-- /header-inner -->

</div> <!-- /header -->

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <div align="right" style="padding: 0.5%; margin-right: 2%;" id="fb-login">
  <fb:login-button autologoutlink="true"></fb:login-button>
</div>
 -->

<div align="right" style="padding: 0.5%; margin-right: 2%;" id="fb-login">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <!-- <fb:logout-button id='fb_sign_out'></fb:logout-button> -->
    <!-- <= link_to "Sign out", signout_path, id: "sign_out" > -->
  <!-- < else > -->
   <!-- <fb:login-button id="fb_sign_in"></fb:login-button> -->
   <!-- <div class="fb-login-button" id="sign_in"> -->
    <!-- <= link_to "", "/auth/facebook" > -->
  <!-- </div> -->
  <% end %>
  
   <fb:login-button autologoutlink="true"></fb:login-button>
  
</div>