<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>

  <% @vendor.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.location %></td>
        <td>Rating : <%= rating_for_vendor VendorRate, "rating", "vendor_id", vendor.id %></td>

      </tr>
  <% end %>
</table>
