<div id="review" style="display:block;height: 100%;">
    <% current_vendor_pic = get_all_vendor_photos(vendor_id) %>
    <% if current_vendor_pic.length != 0 %>
      <%= render 'home/widgets/gallery_show', :pics => current_vendor_pic %>
    <% else %>
        <p> Photos not available </p> <br />
    <% end %>
</div>