.main-menu {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.main-menu li { position: relative; }

.main-menu > li { float: left; }

.main-menu > li:before {
    content: "/";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    margin-right: -3px;
    font-size: 16px;
    color: #444;
    font-weight: 300;
    z-index: 1000;
}

.main-menu > li:last-child:before { content: none; }

.main-menu > li > a {
    display: block;
    padding: 27px;
    font-size: 0.85em;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.main-menu > li:first-child > a { margin-left: 0; }

.main-menu > .has-children > a,

.main-menu > .page_item_has_children > a { padding-right: 47px; position: relative; }

.main-menu > .has-children > a::after,

.main-menu > .page_item_has_children > a::after {
    content: "";
    display: block;
    border: 5px solid transparent;
    border-top-color: #999;
    position: absolute;
    z-index: 1001;
    right: 29px;
    top: 50%;
    margin-top: -2px;
}

.main-menu li:hover > a {
    cursor: pointer;
    color: #fff;
}

.main-menu > .has-children:hover > a::after,

.main-menu > .page_item_has_children:hover > a::after { border-top-color: #fff; }

.main-menu li ul {
    position: absolute;
    display: block;
    left: -9999px;
    top: 38px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 999;
    -webkit-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.main-menu li:hover > ul{
    left: 0px;
}

.main-menu > li > ul { padding-top: 20px; }

.main-menu > li > ul:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom-color: #2d2d2d;
}

.main-menu ul li {
    float: none;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.075);
}

.main-menu ul li:first-child { border-top: none; }

.main-menu ul > .has-children::after,

.main-menu ul > .page_item_has_children::after {
    content: "";
    display: block;
    border: 6px solid transparent;
    border-left-color: rgba(255,255,255,0.4);
    position: absolute;
    z-index: 1001;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}

.main-menu ul > .has-children:hover::after,

.main-menu ul > .page_item_has_children:hover::after { border-left-color: #FFF; }

.main-menu ul li {
    display: block;
    width: 240px;
    background: #2d2d2d;
}

.main-menu ul a {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 0;
    line-height: 130%;
    color: #999;
}

.main-menu ul a:hover { color: #fff; }

.main-menu li:hover > ul {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    left: 50%;
    margin-left: -120px;
    top: 48px;
}

.main-menu ul li ul { top: 5px; }

.main-menu ul li:hover > ul {
    top: 0;
    left: 0px;
    margin-left: 0;
}

.main-menu ul ul li { background: #3d3d3d; }

.main-menu ul ul ul li { background: #4d4d4d; }

.main-menu ul ul ul ul li { background: #4d4d4d; }



.nav-toggle { padding: 20px 0; }

.navigation-inner { max-width: 90%; }

.navigation {
    clear: both;
    font-size: 14px;
    margin: 0px 0px;
    overflow: hidden;
}

.entry .navigation a {
    border-bottom: 1px solid #ddd;
}

.navigation li {
    display: inline;
}

.navigation li a {
    background: #333;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
}

body.single .content { width: 100%; float: none; }

.sidebar { display: none; }


.search-toggle { width: 24px; }

.nav-toggle .bar {
    display: block;
    width: 26px;
    height: 3px;
    margin-top: 5px;
    background: #8E8E8E;
    border-radius: 1px;
}

.nav-toggle .bar:first-child { margin-top: 0; }

.nav-toggle:hover { cursor: pointer; }

.nav-toggle.active .bar { background: #fff; }



.sub-menu {
    color: #999;
    font-style: italic;
    font-weight: normal;
    margin-right: 4px;
}

.main-navigation .menu-item-has-children > a {
    padding-right: 48px;
}

.nav-primary li.menu-item-has-children > a:after {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    content: " > ";
    font-size: 9px;
    position: absolute;
    right: 0px;
    top: 4px;
}

.nav-primary li li.menu-item-has-children > a:after {
    transform:none;
    -ms-transform:none;
    -webkit-transform:none;
    -moz-transform:none;
    right: 8px;
    top: 11px;
}
.nav-primary ul.menu {
    border-top: 3px solid #008CBA;
    background: #fff;
    left: 0px;
    top: 55px;
    position: absolute;
    width: 90%;
    margin: 0 5%;
}

.nav-primary li {
    float: none;
    display: block;
}

.nav-primary ul ul {
    background: none repeat scroll 0% 0% #FFF;
    left: 0;
    margin: 0px 0 0 15px;
    opacity: 1;
    padding: 5px 0px;
    position: relative;
    width: auto;
    z-index: 99;
}

.nav-primary .sub-menu .sub-menu {
    margin: 0px 0 0 15px;
}

.nav-primary ul li {
    padding: 0;
}
.nav-primary ul a {
    padding: 8px 20px;
    width: 100%;
}

.nav-primary ul a:hover {
    background-color: #f7f7f7;
}
.nav-primary li.menu-item-has-children > a:after,
.nav-primary li li.menu-item-has-children > a:after {
    display: none;
}

ul.menu-primary ul {
    border-top: none;
}

.nav-primary .sub-menu .sub-menu {
    margin: 0px 0 0 15px;
}



.is_mobile .main-menu li ul {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    display: none;
}

.is_mobile .main-menu li:hover ul { display: block; }

.mobile-menu li { border-top: 1px solid rgba(255,255,255, 0.1); }

.mobile-menu > li:first-child { border-top: none; }

.mobile-menu a {
    display: block;
    padding: 25px 5%;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
}

.mobile-menu a:hover { color: #fff; }

.mobile-menu ul a { padding-left: 10%; }

.mobile-menu ul ul a { padding-left: 15%; }

.mobile-menu ul ul ul a { padding-left: 20%; }

.mobile-menu ul ul ul ul a { padding-left: 25%; }

.mobile-menu ul ul ul ul ul a { padding-left: 30%; }