<div class="container" align="center" style="width: 100%;height: 100%;">
  <div id="slides" style="width: 400px; height: 370px; overflow: hidden; display: block;">
    <% pics.each do |pic| %>
        <% pic = pic["photo"].to_s %>
        <img src="data:image/jpg;base64,<%= (Base64.encode64(pic)) %>" class="slidesjs-image" width="400px " height="370px">
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'jquery.slides.min.js'%>
<%= javascript_include_tag 'jquery.slides.js'%>

<script>
    $(function() {
        $('#slides').slidesjs({
            width: 400,
            height: 296
        });
    });
</script>
