<div class="navigation theme-section no-padding">

  <div class="navigation-inner section-inner">

    <ul class="main-menu">

      <li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306">
        <a href="/">Home</a></li>

      <li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-281">
        <a href="/about_us">About US</a></li>

      <li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-281">
        <a href="/blog">Blog</a></li>

      <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282">
        <a href="/vendors">Plan Your Party</a></li>

      <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295">
        <a href="/vendors/new">Add Your Business</a></li>

      <li id="menu-item-276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276">
        <a href="/contact_us">Contact Us</a></li>

    </ul> <!-- /main-menu -->

  </div> <!-- /navigation-inner -->

</div> <!-- /navigation -->

