<div class="details">

 <%= form_tag search_results_path, :method => :get do %>
    <p style="padding: 1%;">
      <div align="center" style="border: ridge; border-radius: 10px; background-color: white; width:500px; margin-left: 35%;" >
      <%= select_tag(:city_id, options_for_select([['Bangalore', 1]]))%>
      <%= text_field_tag :search, params[:search], :placeholder=>'Search vendor, category...', :size=>20 , :style=>"border: ridge;border-radius: 10px;"%>
      <%= image_submit_tag ("vendor_details/search.png") %>
      </div>
    </p>
<% end %>
</div>