<%= form_tag search_results_path, :method => :get do %>
    <p align="right" style="padding: 1%">
      <%= text_field_tag :search, params[:search] %>
      <%= image_submit_tag ("vendor_details/search.png") %>
    </p>
<% end %>